

* {
  box-sizing: border-box;
}

body {
  background-color: #516dff;;
  font-family: 'Press Start 2P', sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: #fff;
  text-align: center;
}

.btn {
  padding: 15px 20px;
  border: none;
  color: #516dff;
  background-color: #fff;
  font-family: inherit;
  cursor: pointer;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  color: #fff;
  transition: margin 0.3s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.select-insect img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.list-insects {
  display: flex;
  flex-wrap: wrap;
}

.list-insects .select-insect {
  margin:10px;
  width: 150px;
  height: 150px;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.list-insects .select-insect:hover,.list-insects .select-insect:active {
  background-color: #fff;
}

.list-insects .select-insect:hover p {
  color: #516dff;
}

.game-container{
  position: relative;
}

.time, .score {
  position: absolute;
  top: 20px;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

.message {
  text-align: center;
  background-color: blue;
  padding: 20px;
  width: 100%;
  line-height: 1.7;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 50%;
  z-index: 100;
  transform: translate(-50%,-150%);
  transition: transform 0.3s ease-in;
}

.message.show {
  transform: translate(-50%,150%);
  opacity: 1;
}

.insect {
  cursor: pointer;
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}

.insect img {
   width: 100px;
  height: 100px;
}