@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(133, 133, 245);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  overflow: hidden;
  margin-bottom: 40px;
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

.big-bottle {
  border: 3px solid blue;
  width: 150px;
  height: 250px;
  background-color: #fff;
  border-radius: 0 0 40px 40px;
  color: blue;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.remained {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 12px;
  color: blue;
  transition: 0.2s ease;
}

.remained span {
  font-size: 20px;
  font-weight: bold;
}

.remained small {
  font-size: 12px;
}

.percentage {
  height: 0;
  width: 100%;
  background-color: rgb(133, 133, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.big-bottle h4 {
  text-align: center;
}

.small-bottes {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

.bottle {
  cursor: pointer;
  border: 3px solid blue;
  color: blue;
  font-size: 12px;
  margin: 10px;
  width: 50px;
  height: 100px;
  background-color:rgba(255,255,255,0.9);
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.bottle.active {
  background-color: rgb(133, 133, 245);
}